.ResultCard {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.ResultCard-thumbnail {
    height: 140px;
    width: 250px;
}

.ResultCard-title {
    font-weight: 500;
    font-family: 'Roboto';
    font-size: 14px;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.ResultCard-small-info{
    color: #606060;
    font-family: 'Roboto';
    font-size: 13px;
    font-weight: 300;
    max-width: 250px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
